<h1 class="current-category>"><%= params[:category] %></h1>

<% if @workouts.count == 0 %>

	<h1>There are no workouts currently in this category</h1>

<% else	%>	

 <div class="row">

	 <% @workouts.each do |workout| %>

		<div class="col-md-3">
		   <a href="/workouts/<%= workout.id %>">
			 <%= image_tag workout.workout_img.url(:workout_index), class: "workout" %>
			</a>
		</div>

	  <% end %>

	  </div>
		
 <% end %>